@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Scripts/jquery-easyui-1.3.1/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/Scripts/jquery-easyui-1.3.1/themes/icon.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-easyui-1.3.1/jquery-1.8.0.min.js"></script>
    <script src="~/Scripts/jquery-easyui-1.3.1/jquery.easyui.min.js"></script>
    <script src="~/Scripts/jquery-easyui-1.3.1/locale/easyui-lang-zh_CN.js"></script>
    <script src="~/Scripts/jquery-easyui-1.3.1/datapattern.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/MyAjaxForm.js"></script>
    <script>
        $(function () {

            $("#AddDialogDiv").css("display", "none");
            $("#EditDialogDiv").css("display", "none");
            $("#trIconUrl").css("display", "none");
            InitTable();
            bindUploadBtnClick();
            bindCkbIsMenuClick();
        });
        //初始化表格
        function InitTable() {
            $('#tt').datagrid({
                url: '/ActionInfo/GetAllActionInfos',
                title: '权限信息列表',
                width: 700,
                height: 400,
                fitColumns: true,
                idField: 'ID',
                loadMsg: '正在加载权限的信息...',
                pagination: true,
                singleSelect: false,
                pageSize: 10,
                pageNumber: 1,
                pageList: [10, 20, 30],
                queryParams: {},//让表格在加载数据的时候 ，额外传输的数据
                columns: [[
                    //u.ID, u.UName, u.ReMark, u.Pwd, u.ShowName, u.ModfiedOn, u.SubTime
                        { field: 'ck', checkbox: true, align: 'left', width: 50 },
                        { field: 'ID', title: '编号', width: 80 },
                        { field: 'ActionName', title: '权限名', width: 120 },
                        {
                            field: 'IsMenu', title: '是否是菜单', width: 120,
                            formatter: function (value, row, index) {
                                return value ? "是" : "否";
                            }
                        },
                        {
                            field: 'MenuIcon', title: '菜单图片', width: 120,
                            formatter: function (value, row, index) {
                                //alert(value+":\n"+row.MenuIcon);
                                return "<img src='" + value + "' width='20px' height='20px' />";
                            }
                        },
                        { field: 'ReMark', title: '备注', width: 120 },
                        {
                            field: 'SubTime', title: '提交时间', width: 80, align: 'right',
                            formatter: function (value, row, index) {
                                return (eval(value.replace(/\/Date\((\d+)\)\//gi, "new Date($1)"))).pattern("yyyy-M-d h:m:s.S");
                            }
                        },
                        {
                            field: 'ModfiedOn', title: '操作', width: 120, formatter: function (value, row, index) {
                                var str = "";
                                str += "<a href='javascript:void(0)' class='EditLink' uid='" + row.ID + "'>修改</a> &nbsp;&nbsp;";
                                str += "<a href='javascript:void(0)' class='DeleteLink' uid='" + row.ID + "'>删除</a>";
                                return str;
                            }
                        }


                ]],
                toolbar: [
                    {
                        id: 'btnAdd',
                        text: '添加权限',
                        iconCls: 'icon-add',
                        handler: function () {
                            AddDialogEvent();
                        }
                    },
                  {
                      id: 'btnDelete',
                      text: '删除权限',
                      iconCls: 'icon-cancel',
                      handler: function () {
                          //1 拿到 当前选中的项
                          var seletedRows = $("#tt").datagrid("getSelections");
                          if (seletedRows.length <= 0) {
                              $.messager.alert("错误提醒", "请选中删除项", "question");
                              return;
                          }
                          var ids = "";
                          for (var key in seletedRows) {

                              ids += seletedRows[key].ID + ",";
                          }
                          ids = ids.substr(0, ids.length - 1);
                          DeleteDialogEvent(ids);
                      }
                  },
                    {
                        id: 'btnEdit',
                        text: '修改权限',
                        iconCls: 'icon-edit',
                        handler: function () {
                            var seletedRows = $("#tt").datagrid("getSelections");
                            if (seletedRows.length != 1) {
                                $.messager.alert("错误提醒", "请选中一行", "question");
                                return;
                            }
                            EditDialogEvent(seletedRows[0].ID);
                        }
                    },
                    {
                        id: 'btnsetRole',
                        text: '设置角色',
                        iconCls: 'icon-redo',
                        handler: function () {
                            SetRole();
                        }
                    }
                ],
                onLoadSuccess: function (data) {
                    $(".EditLink").click(function () {
                        EditDialogEvent($(this).attr("uid"));
                        return false;
                    });
                    $(".DeleteLink").click(function () {
                        DeleteDialogEvent($(this).attr("uid"));
                        return false;
                    })
                }

            });
        }

        //设置角色
        function SetRole() {
            var seletedRows = $("#tt").datagrid("getSelections");
            if (seletedRows.length != 1) {
                $.messager.alert("错误提醒", "请选中一个用户设置", "question");
                return;
            }

            $("#SetRoleFrame").attr("src", "/ActionInfo/SetRole/" + seletedRows[0].ID);
            //弹出设置角色对话框
            $("#SetRoleDialogDiv").css("display", "block");
            $("#SetRoleDialogDiv").dialog({
                title: "设置用户角色",
                modal: true,
                width: 400,
                height: 400,
                collapsible: true,
                minimizable: true,
                maximizable: true,
                resizable: true,
                buttons: [{
                    id: 'btnOk',
                    text: '设置',
                    iconCls: 'icon-ok',
                    handler: function () {
                        $("#SetRoleFrame")[0].contentWindow.submitForm();
                    }
                }, {
                    id: 'btnCancel',
                    text: '取消',
                    iconCls: 'icon-cancel',
                    handler: function () {
                        $("#SetRoleDialogDiv").dialog("close");
                    }
                }]
            });
        }

        //设置角色成功后事件
        function afterSetRoleSuccess() {

            //关闭对话框
            $("#SetRoleDialogDiv").dialog("close");
        }

        //是否是菜单
        function bindCkbIsMenuClick() {
            $("#ckbIsMenu").change(function () {
                //显示或者隐藏那个  图标地址
                $("#trIconUrl").toggle();
            });
        }

        //绑定一个上传图片的按钮点击事件
        function bindUploadBtnClick() {
            $("#btnUploadFile").click(function () {
                $("#AddDialogDiv form").ajaxSubmit({
                    url: "/ActionInfo/UploadImage",
                    type: "Post",
                    success: function (data) {
                        //把返回的url地址放到页面的隐藏域
                        $("#MenuIcon").val(data);
                        $("#uploadImg").html("<img src='" + data + "' style='width:100px;height:100px;' />");
                    }
                });
            });
        }


        //添加权限事件
        function AddDialogEvent() {
            $("#AddDialogDiv").css("display", "block");
            $("#AddDialogDiv").dialog(
                    {
                        title: "添加权限",
                        modal: true,
                        width: 400,
                        height: 400,
                        collapsible: true,
                        minimizable: true,
                        maximizable: true,
                        resizable: true,
                        buttons: [{
                            text: "添加",
                            id: 'btnOK',
                            iconCls: 'icon-ok',//图标
                            handler: function () {//按钮被点击执行此方法
                                $("#AddDialogDiv form").submit();//隐式提交表单

                            }
                        }, {
                            text: "关闭",
                            id: 'btnClose',
                            iconCls: 'icon-cancel',
                            handler: function () {
                                $("#AddDialogDiv").dialog("close");
                            }
                        }]

                    }
                );
        }

        //添加成功后之后执行的代码
        function afterAdd(data) {
            if (data == "ok") {
                $("#AddDialogDiv").dialog("close");//关闭对话框
                InitTable();//刷新表格
            } else {
                alert(data);
            }
        }

        //删除权限事件
        function DeleteDialogEvent(ids) {
            if (confirm("确定要删除吗")) {
                //拿到所有选中的id
                $.post("/ActionInfo/Delete", { ids: ids }, function (data) {

                    if (data == "ok") {
                        InitTable();//刷新表格
                    }
                    else {
                        $.messager.alert("提醒消息", "删除失败", "error");
                    }
                })
            }
        }

        //修改权限事件
        function EditDialogEvent(id) {

            //先获取当前ID对应的信息

            $("#editFrame").attr("src", "/ActionInfo/Edit/" + id);///当前选择的ID

            $("#EditDialogDiv").css("display", "block");
            $("#EditDialogDiv").dialog(
                    {
                        title: "修改权限",
                        modal: true,
                        width: 400,
                        height: 400,
                        collapsible: true,
                        minimizable: true,
                        maximizable: true,
                        resizable: true,
                        buttons: [{
                            text: "修改",
                            id: 'btnOK',
                            iconCls: 'icon-ok',//图标
                            handler: function () {//按钮被点击执行此方法
                                //当点击按钮的时候 调用子容器的submitForm方法
                                $("#editFrame")[0].contentWindow.submitForm();
                            }
                        }, {
                            text: "关闭",
                            id: 'btnClose',
                            iconCls: 'icon-cancel',
                            handler: function () {
                                $("#EditDialogDiv").dialog("close");
                            }
                        }]
                    }
                );
        }

        //修改成功之后子由容器调用
        function afterEditSuccess() {
            $("#EditDialogDiv").dialog("close");//关闭对话框
            InitTable();//刷新表格
        }
    </script>
</head>
<body>
    <table id="tt" style="width: 700px;" title="标题，可以使用代码进行初始化，也可以使用这种属性的方式" iconcls="icon-edit">
    </table>

    <!-------------------弹出添加对话框  开始-------------->
    <div id="AddDialogDiv">
        @using (Ajax.BeginForm("Add", "ActionInfo", new AjaxOptions() { OnSuccess = "afterAdd" }))
        {
            <table>
                <tr>
                    <td>权限名</td>
                    <td>
                        <input type="text" name="ActionName" /></td>
                </tr>

                <tr>
                    <td>URL:</td>
                    <td>
                        <input type="text" name="Url" /></td>
                </tr>
             
                <tr>
                    <td>Http方法类型:</td>
                    <td>
                        <select name="HttpMethod">
                            <option value="GET">GET</option>
                            <option value="POST">POST</option>
                        </select>

                    </td>
                </tr>

                <tr>
                    <td>是否是菜单:</td>
                    <td>
                        <input type="checkbox" id="ckbIsMenu" name="IsMenu" /></td>
                </tr>
                <tr id="trIconUrl">
                    <td>菜单的图标地址：</td>
                    <td>
                        <input type="hidden" id="MenuIcon" name="MenuIcon" />
                        <input type="file" id="fileMenuIcon" name="fileMenuIcon"/>
                        <input type="button" value="上传" id="btnUploadFile"/>
                        <div id="uploadImg">
                            
                        </div>

                    </td>
                </tr>

                  <tr>
                    <td>备注:</td>
                    <td>
                        <input type="text" name="ReMark" /></td>
                </tr>

            </table>
        }
    </div>
    <!-------------------弹出添加对话框  结束-------------->

    <!-------------弹出修改对话框  开始-------------->
    <div id="EditDialogDiv">
        <iframe id="editFrame" src="javascript:void(0)" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
    </div>

    <!-------------弹出修改对话框  结束-------------->

    <!-------------弹出设置角色对话框  开始-------------->
    <div id="SetRoleDialogDiv">
        <iframe id="SetRoleFrame" src="javascript:void(0)" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
    </div>

    <!-------------弹出设置角色对话框  结束-------------->
</body>
</html>

