@{
    Layout = null;
}
@using HeiMa8.OA.Model;
@using System.Text;
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=yes" />
    <!--jquery mobile -->
    <script src="/mobile/js/lib/jquery.js"></script>
    <script src="/mobile/js/lib/jquery.mobile-1.3.1.js"></script>
    <link href="/mobile/css/jquery.mobile-1.3.1.css" rel="stylesheet" />
    <link href="/mobile/_assets/css/jqm-demos.css" rel="stylesheet" />
</head>
<body>
    <div data-role="page">
        <script>
            $(function () {
                GetCurrentUser();
                GetAllTypeCount();
            })
            // jsonp 获取当前用户
            function GetCurrentUser() {

                $.getJSON("/WFInstance/GetCurrentUser?callback=?", {}, function (data) {
                    //alert(data);
                    $("#User").html("当前用户" + data);
                })
            }

            //获取当前用户的已审批，待审批，总的流程分别的个数
            function GetAllTypeCount() {

                $.getJSON("/WFInstance/GetAllTypeCount?callback=?", {}, function (data) {
                    //alert(data);
                    //alert(data.CheckCount);
                    $("#MyCheck").html(data.CheckCount);
                    $("#MyChecked").html(data.CheckedCount);
                    $("#MyUnCheck").html(data.UnCheckCount);
                })
            }
        </script>
        <div data-role="header" data-theme="b" data-position="fixed">
            <h1>移动OA系统</h1>
            <a href="#nav-panel" data-icon="bars" data-iconpos="notext">Menu</a>
        </div>
        <div id="content" data-role="content">

            <p>
                This is a <strong>OA System</strong><br />
                Click the menu-button in the header to open the menu.
            </p>
        </div>

        <!-- footer -->
        <div data-role="footer" data-position="fixed" data-theme="b">
            <h4>移动OA系统</h4>
        </div>
        <div data-role="panel" data-position-fixed="true" data-theme="c" id="nav-panel">

            <ul data-role="listview" data-theme="c" class="nav-search">
                <li data-icon="delete">
                    <a href="#">
                        <h1 id="User"></h1>
                    </a><a href="/UserLogin/Index" rel="external">退出</a>
                </li>
                <li><a href="/WFTemp/StartWF" rel="external">发起流程</a></li>
                <li><a href="/WFInstance/ShowMyCheck" rel="external">我的审批流程<span class="ui-li-count" id="MyCheck"></span></a></li>
                <li><a href="/WFInstance/ShowMyChecked" rel="external">已审批流程<span class="ui-li-count" id="MyChecked"></span></a></li>
                <li><a href="/WFInstance/ShowMyUnCheck" rel="external">待审批流程<span class="ui-li-count" id="MyUnCheck"></span></a></li>
            </ul>
        </div>
    </div>
</body>
</html>

