<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <security>
            <requestFiltering>
                <fileExtensions>
                    <remove fileExtension=".cshtml" />
                    <remove fileExtension=".shtml" />
                </fileExtensions>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
